<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio-Generator</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="nav">
            <ul class="sideBar">
                <li onclick="hideSideBar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24"
                            viewBox="0 -960 960 960" width="24">
                            <path
                                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                        </svg></a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Login</a></li>
            </ul>

            <ul class="topBar">
                <li><a href="../index.html">Portfolio-Generator</a></li>
                <li class="hideOnMobile"><a href="../index.html">Home</a></li>
                <li class="hideOnMobile"><a href="#">About</a></li>
                <li class="hideOnMobile"><a href="#">Contact</a></li>
                <li class="hideOnMobile"><a href="#">Login</a></li>
                <li class="menu-button" onclick=showSideBar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg"
                            height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                        </svg></a></li>
            </ul>

        </div>
        <div id="capture" class="template2" contenteditable="true">
            <div class="left nocolor moreleft">
                <img id='profileImg' class="profileImg" src="../images/profile/pfp1.webp" onclick="selectImage()">
                <input type="file" id="fileInput" style="display: none;" accept="image/*"
                    onchange="displaySelectedImage(event)">

                <div class="contact">
                    <h2>Contact</h2>
                    <hr>
                    <p>9342039492</p>
                    <p>sample@email.com</p>
                    <p> Address</p>
                </div>
                <div class="skill">
                    <h2>Skills</h2>
                    <hr>
                    <ul>
                        <li>Skill 1</li>
                        <li>Skill 2</li>
                        <li>Skill 3</li>
                        <li>Skill 4</li>
                        <li>Skill 5</li>
                    </ul>
                </div>
                <div class="language">
                    <h2>Language</h2>
                    <hr>
                    <p>Language 1</p>
                    <p>Language 2</p>
                    <p>Language 3</p>
                </div>

            </div>
            <div class="right nocolor">
                <div class="name">
                    <h1>Surname Name</h1>
                    <hr>
                    <h3>High School Student</h3>
                </div>
                <div class="profile">
                    <h3>Profile</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur culpa minus libero
                        blanditiis dolorem harum nisi iure maxime eaque earum
                        , sint voluptates illum dignissimos itaque suscipit, cupiditate,
                        velit nostrum officia?</p>
                </div>
                <div class="education">
                    <div class="head">
                        <h2>Education</h2>
                        <hr>
                    </div>
                    <h3>School</h3>
                    <p>Name of Your School</p>
                    <h3>College</h3>
                    <p>Name of Your College</p>
                    <h3>University</h3>
                    <p>Name of Your University</p>
                </div>
                <div class="experience">
                    <div class="head">
                        <h2>Project</h2>
                        <hr>
                    </div>
                    <h3>Your Works 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, nesciunt fugiat! </p>
                    <h3>Your Works 2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, nesciunt fugiat! </p>
                
                </div>
            </div>

        </div>
        <div class="download ">
            <button id="captureBtnPNG" class="downloadbtn">PNG</button>
            <button id="captureBtnPDF" class="downloadbtn">PDF</button>
        </div>
    </div>
    <script>
        function selectImage() {
            document.getElementById('fileInput').click();
        }
        function displaySelectedImage(event) {
            const selectedFile = event.target.files[0]; // This will get the latest image select by user
            if (selectedFile) {
                const reader = new FileReader();
                reader.onload = function (event) { // it works once the user has selected a image
                    const imageUrl = event.target.result;
                    document.getElementById('profileImg').src = imageUrl;
                };
                reader.readAsDataURL(selectedFile);
            }
        }
        document.getElementById('captureBtnPDF').addEventListener('click', function () {
            console.log("PDF IS INVOKED");
            // Select the HTML element to be converted
            const element = document.getElementById('capture');
            let defaultWidth = element.style.width;
            element.style.width = '80%';

            // Options for html2pdf
            const opt = {
                margin: 0.2,
                filename: 'portfolio.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'a4', orientation: 'portrait' }
            };

            // Call the html2pdf function
            html2pdf().from(element).set(opt).save().then(function () {
                // Reset the width of the element after PDF generation is complete
                element.style.width = defaultWidth;
            });
        });
        document.getElementById('captureBtnPNG').addEventListener('click', function () {
            // Set scroll position to top
            window.scrollTo(0, 0);

            // Get the width and height of the content
            var captureElement = document.getElementById('capture');
            var defaultWidth = captureElement.style.width;
            captureElement.style.width = '50%';
            //captureElement.style.height = '300px';
            var width = captureElement.scrollWidth;
            var height = captureElement.scrollHeight;

            // Capture the entire page
            html2canvas(captureElement, {
                width: width,
                height: height,
                scrollX: 0,
                scrollY: 0,
                scale: 10
            }).then(function (capturedCanvas) {
                // Convert canvas to data URL
                var imgData = capturedCanvas.toDataURL('image/png');

                // Create a link element and trigger download
                var link = document.createElement('a');
                link.href = imgData;
                link.download = 'captured_image.png';
                link.click();
            });
            captureElement.style.width = defaultWidth;
        });

        function showSideBar() {
            const x = document.querySelector('.sideBar');
            x.style.display = 'flex';
        }
        function hideSideBar() {
            const x = document.querySelector('.sideBar');
            x.style.display = 'none';
        }
        // Get the button and dropdown content

    </script>
</body>

</html>