*{
    margin:0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: gray;
}

.topBar{
    width:100%;
    list-style-type: none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.nav {
    background-color: rgb(51, 52, 54);
}
.nav li{
    height:50px;
}
.nav a{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    color:white;
    display: flex;
    align-items: center;
}
.nav li:first-child{
    margin-right: auto;
}
.sideBar a{
    color:black;
}
.sideBar{
    background-color: aliceblue;
    list-style-type: none;
    position: fixed;
    top:0;
    right: 0;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height:100vh;
    width: 250px;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
}
.sideBar li{
    width: 100%;
}
.menu-button{
    display: none;
}
@media(max-width:800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .mainContent {
        flex-direction: column;
    }
    
}
@media(max-width:400px) {
    .sideBar{
        width:100%;
    }
}
.heading {
    margin: 3%;
}
.mainSection {
    text-align: center;
}
.mainContent {
    margin: 20px 50px;
    color:white;
    background-color: black;
    display: flex;
}
.slider-img {
    
    width: 70%;
    min-width: 250px;
    
}
.textContent{
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textContent h3 {
    margin:5%;
}
.generate {
    margin: 4%;
}
.btn {
    margin: 5% 0;
    border-radius: 10px;
    padding:10px;
    font-size: 2rem;
    background-color: white;
}
.btn:hover{
    color:white;
    background-color: black;
    cursor: pointer;
}

/* Second Page Start Here */
/* mainSection,mainContent,heading,slider,slider-img,textContent,generate,btn */
/* ABOVE CLASSES ARE USED IN FIRST PAGE */
.imgSection {
    margin:3%;
    text-align: center;
}
.portfolioImage{
    width: 50%;
}
.allbtn{
    text-align: center;
    margin: 3%;
}
.buttons {
    background-color: white; /* Green */
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .buttons:hover,.buttons:active{
    background-color: black;
    color:white;
  }
